name: build
on: push
jobs:
  job1:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - id: set-matrix
        run: echo 'job2={"runs-on":"ubuntu-latest","name":"test","steps":[{"run":"echo hello world"}]}' >> $GITHUB_OUTPUT
  job2: ${{ fromJSON(needs.job1.outputs.job2) }}
